body {
        font-size: 18px;
        line-height: 27px;
        background-image: url("../../upfeathers.png");
        margin: 0;
    }
    
    #name {
        height: 100px;
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        font-size: 28px;
        width: 100%;
        margin-top: 0px;
        float: left;
        display: table;
        color: white;
        text-align: center;
    }
    
    #allcontent {
        min-height: 100%;
        margin-bottom: -50px;
    }
    
    #aboutmetitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .pagecontent {
        border: 1px solid;
        border-color: #dddddd;
        padding: 5px;
        display: inline;
        width: 50%;
        margin-top: 20px;
        float: left;
        background-color: #ffffff;
        margin-right: 10px;
    }
    
    .aboutmecontent {
        color: #777777;
        font-size: 15px;
        font-family: 'Hind', sans-serif;
    }
    
    .tandd {
        padding: 10px;
        float: left;
        display: inline;
        width: 45%;
    }
    
    .center {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
    }
    
    #links {
        float: right;
        display: inline;
        vertical-align: center;
        color: #777777;
        font-family: 'Hind', sans-serif;
        width: 100%;
        background-color: white;
        text-align: center;
    }
    
    a {
        text-decoration: none;
    }
    
    .connect {
        position: static;
        width: 100%;
        float;
        left;
        border: 1px solid;
        border-color: #dddddd;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 10px;
        float: right;
        display: inline;
        width: 30%;
        background-color: #ffffff;
        margin-top: 20px;
    }
    
    .connecttitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
    }
    
    .thumbnails {
        text-align: center;
        margin: 0;
        display: inline;
    }
    
    .thumbnail {
        width: 30%;
    }
    
    .contacttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .textbox {
        moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        height: 28px;
        overflow: auto;
        padding: 1px;
        resize: both;
        width: 80%;
        bottom-padding: 10px;
        height: 20px;
        width: 80%;
        margin: 10px;
        font-family: 'Hind', sans-serif;
    }
    
    .submit {
        float: right;
        height: 35px;
        width: 45%;
        background-color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
        color: white;
        margin: 15px;
        text-align: center;
    }
    
    h3 {
        color: #777777;
        font-family: 'Hind', sans-serif;
        padding-left: 10px;
    }
    
    .porttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .boxes {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
    }
    
    .box-left {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    
    .box-right {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
    }
    
    .box-left img {
        width: 100%;
        height: auto;
        position: static;
    }
    
    .box-right img {
        width: 100%;
        height: auto;
        position: static;
    }
    
    .boxtitle {
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        color: white;
        font-size: 26px;
        width: 100%;
    }
    
    .row {
        clear: both;
    }
    
    footer {
        height: 70px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        background-color: #666666;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-size: 12px;
        color: white;
        border-top: solid;
        border-top-width: 10px;
        border-top-color: #4aaaa5;
    }
}
@media screen and (max-width: 980px) {
    #links,
    #name,
    .center {
        width: 100%;
        float;
        left;
        margin-bottom: 0px;
    }
    
    .pagecontent {
        position: static;
        width: 100%;
        float;
        left;
        clear: both;
        border: 1px solid;
        border-color: #dddddd;
        padding: 5px;
        display: inline;
        width: 50%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
        float: left;
        background-color: #ffffff;
    }
    
    .connect {
        position: static;
        width: 100%;
        float;
        left;
        border: 1px solid;
        border-color: #dddddd;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 10px;
        float: right;
        display: inline;
        width: 30%;
        background-color: #ffffff;
        margin-top: 20px;
    }
    
    .footer {
        position: static;
        width: 100%;
        margin-top: 100px;
    }
    
    #name {
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        font-size: 25px;
        float: left;
        color: white;
    }
    
    #links {
        float: right;
        display: inline;
        vertical-align: center;
        color: #777777;
        font-family: 'Hind', sans-serif;
        background-color: white;
        width: 100%;
    }
    
    #allcontent {
        min-height: 100%;
        margin-bottom: -50px;
    }
    
    #aboutmetitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .aboutmecontent {
        color: #777777;
        font-size: 15px;
        font-family: 'Hind', sans-serif;
    }
    
    .tandd {
        padding: 10px;
        float: left;
        display: inline;
        width: 40%;
    }
    
    a {
        text-decoration: none;
    }
    
    .connecttitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
    }
    
    .thumbnails {
        text-align: center;
        margin: 0;
        display: inline;
    }
    
    .thumbnail {
        width: 30%;
    }
    
    .contacttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .textbox {
        moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        height: 28px;
        overflow: auto;
        padding: 1px;
        resize: both;
        width: 80%;
        bottom-padding: 10px;
        height: 20px;
        width: 80%;
        margin: 10px;
        font-family: 'Hind', sans-serif;
    }
    
    .submit {
        float: right;
        height: 35px;
        width: 45%;
        background-color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
        color: white;
        margin: 15px;
        text-align: center;
    }
    
    h3 {
        color: #777777;
        font-family: 'Hind', sans-serif;
        padding-left: 10px;
    }
    
    .porttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    
    .boxes {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
    }
    
    .box-left {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    
    .box-right {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
    }
    
    .box-left img {
        width: 100%;
        height: auto;
        position: static;
    }
    
    .box-right img {
        width: 100%;
        height: auto;
        position: static;
    }
    
    .boxtitle {
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        color: white;
        font-size: 26px;
        width: 100%;
    }
    
    .row {
        clear: both;
    }
    
    footer {
        height: 70px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        background-color: #666666;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-size: 12px;
        color: white;
        border-top: solid;
        border-top-width: 10px;
        border-top-color: #4aaaa5;
    }
}

}
@media screen and (max-width: 768px) {
    #links,
    #name,
    .center {
        width: 100%;
        float;
        left;
        margin-bottom: 0px;
    }
    .pagecontent {
        position: static;
        width: 100%;
        float;
        left;
        clear: both;
        border: 1px solid;
        border-color: #dddddd;
        padding: 5px;
        display: inline;
        width: 50%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
        float: left;
        background-color: #ffffff;
    }
    .connect {
        position: static;
        width: 100%;
        float;
        left;
        border: 1px solid;
        border-color: #dddddd;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-right: 10px;
        float: right;
        display: inline;
        width: 30%;
        background-color: #ffffff;
        margin-top: 20px;
    }
    .footer {
        position: static;
        width: 100%;
        margin-top: 100px;
    }
    #name {
        padding-top: 15px;
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        font-size: 25px;
        float: left;
        color: white;
    }
    #links {
        float: right;
        display: inline;
        vertical-align: center;
        color: #777777;
        font-family: 'Hind', sans-serif;
        background-color: white;
        width: 100%;
    }
    #allcontent {
        min-height: 100%;
        margin-bottom: -50px;
    }
    #aboutmetitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    .aboutmecontent {
        color: #777777;
        font-size: 15px;
        font-family: 'Hind', sans-serif;
    }
    .tandd {
        padding: 10px;
        float: left;
        display: inline;
        width: 40%;
    }
    a {
        text-decoration: none;
    }
    .connecttitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
    }
    .thumbnails {
        text-align: center;
        margin: 0;
        display: inline;
    }
    .thumbnail {
        width: 30%;
    }
    .contacttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    .textbox {
        moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        height: 28px;
        overflow: auto;
        padding: 1px;
        resize: both;
        width: 80%;
        bottom-padding: 10px;
        height: 20px;
        width: 80%;
        margin: 10px;
        font-family: 'Hind', sans-serif;
    }
    .submit {
        float: right;
        height: 35px;
        width: 45%;
        background-color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind', sans-serif;
        color: white;
        margin: 15px;
        text-align: center;
    }
    h3 {
        color: #777777;
        font-family: 'Hind', sans-serif;
        padding-left: 10px;
    }
    .porttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind', sans-serif;
    }
    .boxes {
        margin-top: 10px;
        display: inline-block;
        width: 100%;
    }
    .box-left {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
    .box-right {
        margin-top: 10px;
        display: inline-block;
        width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
    }
    .box-left img {
        width: 100%;
        height: auto;
        position: static;
    }
    .box-right img {
        width: 100%;
        height: auto;
        position: static;
    }
    .boxtitle {
        background-color: #4aaaa5;
        font-family: 'Hind', sans-serif;
        color: white;
        font-size: 26px;
        width: 100%;
    }
    .row {
        clear: both;
    }
    footer {
        height: 70px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        background-color: #666666;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-size: 12px;
        color: white;
        border-top: solid;
        border-top-width: 10px;
        border-top-color: #4aaaa5;
    }
}

}
@media screen and (max-width: 640px) {
    #links,
    #name,
    .center {
        width: 100%;
        float;
        left;
        margin-bottom: 0px;
    }
    .pagecontent {
        position: static;
        width: 100%;
        float;
        left;
        clear: both;
        border: 1px solid;
        border-color: #dddddd;
        padding: 5px;
        display: inline;
        width: 45%;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 10px;
        float: left;
        background-color: #ffffff;
        margin-right: 25px;
    }
    .connect {
        position: static;
        width: 100%;
        border: 1px solid;
        border-color: #dddddd;
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        float: right;
        display: inline;
        width: 25%;
        background-color: #ffffff;
        margin-top: 20px;
    }
    .footer {
        position: static;
        width: 100%;
        margin-top: 100px;
    }
    #name {
        background-color: #4aaaa5;
        font-family: 'Hind',
        sans-serif;
        font-size: 25px;
        float: left;
        color: white;
    }
    #links {
        float: right;
        display: inline;
        vertical-align: center;
        color: #777777;
        font-family: 'Hind',
        sans-serif;
        background-color: white;
        width: 100%;
    }
    #allcontent {
        min-height: 100%;
        margin-bottom: -50px;
    }
    #aboutmetitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind',
        sans-serif;
    }
    .aboutmecontent {
        color: #777777;
        font-size: 15px;
        font-family: 'Hind',
        sans-serif;
    }
    .tandd {
        padding: 10px;
        float: left;
        display: inline;
        width: 40%;
    }
    a {
        text-decoration: none;
    }
    .connecttitle {
        padding: 5px;
        color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind',
        sans-serif;
    }
    .thumbnails {
        text-align: center;
        margin: 0;
        display: inline;
    }
    .thumbnail {
        width: 30%;
    }
    .contacttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind',
        sans-serif;
    }
    .textbox {
        moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        height: 28px;
        overflow: auto;
        padding: 1px;
        resize: both;
        width: 80%;
        bottom-padding: 10px;
        height: 20px;
        width: 80%;
        margin: 10px;
        font-family: 'Hind',
        sans-serif;
    }
    .submit {
        float: right;
        height: 35px;
        width: 45%;
        background-color: #4aaaa5;
        font-size: 20px;
        font-family: 'Hind',
        sans-serif;
        color: white;
        margin: 15px;
        text-align: center;
    }
    h3 {
        color: #777777;
        font-family: 'Hind',
        sans-serif;
        padding-left: 10px;
    }
    .porttitle {
        padding: 10px;
        color: #4aaaa5;
        font-size: 30px;
        font-family: 'Hind',
        sans-serif;
    }
    .boxes {
        display: inline-block;
        width: 100%;
    }
    .box-left img {
        width: 100%;
        height: auto;
        position: static;
    }
    .box-right img {
        width: 100%;
        height: auto;
        position: static;
    }
    .boxtitle {
        background-color: #4aaaa5;
        font-family: 'Hind',
        sans-serif;
        color: white;
        font-size: 26px;
        width: 100%;
    }
    .row {
        clear: both;
    }
    footer {
        height: 70px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        background-color: #666666;
        text-align: center;
        font-family: 'Hind',
        sans-serif;
        font-size: 12px;
        color: white;
        border-top: solid;
        border-top-width: 10px;
        border-top-color: #4aaaa5;
    }
}

